

body {
    padding: 0px;
    margin: 0px;
    font-family: gibsonRegular;
}

h1 {
    text-align: center;
    position: relative;
    z-index: 10;
}

#wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ff0000;
}

#content-wrapper {
    background: #d6d6d6;
    padding: 4px;
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 20px;
    right: 20px;
    transform: translateY(500px);
    transition: all 0.3s;
}

@media (min-width: 600px) {
    #content-wrapper {
        left: auto;
        max-width: 360px
    }
}


.content-box {
    color: #000;
    position: relative;
    padding: 40px;
    background: #d6d6d6;
    border: 4px solid #fff;
    img {
        max-width: 100px;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}


body.kv-2017-map-zoom-local #content-wrapper {
    transform: translateY(0);
    opacity: 1;
}
/*
#g-wrapper {
    transform: translateY(-160px)
}
*/

svg#kv-2017-map {
    transition: transform 0.4s;
    transform: scale3d(1,1,1);
    animation: initialZoom .8s;
    max-height: calc(100vh - 100px);
}

body.kv-2017-map-zoom-regional svg#kv-2017-map, body.kv-2017-map-zoom-local svg#kv-2017-map {
    transform: scale3d(3, 3, 3) translate3d(-16vw, -20vh, 0);
}

@keyframes initialZoom {
    0% {
        transform: scale3d(10,10,10)
    }
    100% {
        transform: scale3d(1,1,1)
    }

}
